{% extends 'base.html' %}

{% block content %}

{% import 'forms.html' as forms with context %}
<div clas="row">
  <h4>About our Restaurant</h4>

  {% call forms.email_form() %}
  <h5>Contact Us</h5>
  
  <div class="twelve columns">
    <label for="name">Your name</label>
    <input id="name" type="text" required name="Name" />
    
    <label for="email">Your email</label>
    <input id="email" type="email" required name="Email" />

    <label for="message">Your Message</label>
    <textarea name="Message"></textarea>
  <div class="row">
  <input class="button-primary" type="submit" value="Send">
  </div>
  </div>
  {% endcall %}
  </div>
  
  <hr>

  <div class="twelve columns">
  <h5>Sign up for our newsletter</h5>
  
  {% call forms.newsletter_form() %}
      <label for="first_name">First Name</label>
    <input id="first_name" type="text" required name="first_name" />

    <label for="last_name">Last Name</label>
    <input id="last_name" type="text" required name="last_name" />
    
    <label for="email">Your email</label>
    <input id="email" type="email" required name="Email" />

  <div class="row">
  <input class="button-primary" type="submit" value="Send">
  </div>
  {% endcall %}
</div>
{% endblock %}
